.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

app/build
app/mapping.txt
app/class_files.txt
app/seeds.txt
app/unused.txt
captures
awerd
.gitignore
app/src/main/res/drawable-nodpi